.dashboard-collection {
  width: 400px;
  height: 200px;
  border-radius: 60px;
  background: #676767;
  box-shadow: 5px 10px 0px 0px rgba(0, 0, 0, 0.25);
  font-family: "Kanit-Regular";
  justify-content: space-around;
  flex-wrap: nowrap;
  cursor: pointer;
  position: relative;
}

.dashboard-collection-title {
  color: #fff;
  width: -webkit-fill-available;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.dashboard-collection-title:hover {
  font-family: "Major-Mono-Display";
}

.dashboard-collection-menu {
  align-self: flex-end;
  padding-right: 40px;
}

.dashboard-collection-footer {
  margin-right: 40px;
  margin-left: 40px;
  width: -webkit-fill-available;
  justify-content: space-between;
}

.dashboard-collection-visibility {
  width: 30px;
}

.dashboard-collection-count {
  align-self: flex-end;
  background: #d9d9d9;
  border-radius: 100%;
  padding-left: 10px;
  padding-right: 10px;
  color: #000;
  font-family: "Kanit-Regular";
  font-size: 20px;
  font-weight: 400;
}

.edit-collection-name-container {
  gap: 40px;
}

.edit-collection-input {
  border-radius: 10px;
  border: 2px solid #fff;
  background: none;
  width: 280px;
  flex-shrink: 0;
  color: #fff;
  font-family: "Kanit-Regular";
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.edit-collection-button-container {
  gap: 30px;
}

.edit-collection-cancel-button {
  width: 120px;
  height: 35px;
  border-radius: 30px;
  border: 1px solid #c72a2a;
  background: #c72a2a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: "Kanit-Regular";
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.edit-collection-confirm-button {
  width: 120px;
  height: 35px;
  border-radius: 30px;
  border: 1px solid #1fb141;
  background: #1fb141;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: "Kanit-Regular";
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .dashboard-collection {
    width: 300px;
    height: 150px;
    border-radius: 40px;
  }

  .dashboard-collection-title {
    font-size: 20px;
  }

  .dashboard-collection-footer {
    margin-right: 20px;
    margin-left: 20px;
  }

  .dashboard-collection-count {
    font-size: 15px;
  }

  .edit-collection-input {
    width: 200px;
  }

  .edit-collection-button-container {
    gap: 20px;
  }

  .edit-collection-cancel-button {
    width: 80px;
    height: 25px;
    font-size: 15px;
  }

  .edit-collection-confirm-button {
    width: 80px;
    height: 25px;
    font-size: 15px;
  }
}
